$background-principal: rgb(251, 215, 221);
$color-principal: rgb(226, 27, 156);

$fuente-principal: 'Roboto Condensed', sans-serif; 
$peso-titulos: font-weight 700;
$peso-textos: font-weight 100;

$size-titulo-desktop: font-size 24px;
$size-texto-desktop: font-size 18px;
$size-titulo-tablet: font-size 20px;
$size-texto-tablet: font-size 16px;
$size-titulo-mobil: font-size 18px;
$size-texto-mobil: font-size 12px;