.contenido-footer{
    display: flex;
    flex-direction: row;
    background-color: $color-principal;
    @include texto;
    font-size: 14px;
    color: white;
    padding: 20px;
    justify-content: space-between;
    div{
        align-self: center;
        justify-self: right;
    }
}

