.contenido-contacto{
    background-color: $background-principal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    p{
        padding: 0px 30px 10px 30px;
        font-family: $fuente-principal;
        font-weight: $peso-textos;
        font-size: $size-texto-desktop;
        text-align: justify;
    }
    div{
        padding: 10px 30px 10px 30px;
    }
}