.introduccion-tendederos{
    background-color: $background-principal;
    h1{
        padding: 30px;
        font-family: $fuente-principal;
        font-weight: $peso-titulos;
        font-size: $size-titulo-desktop;
        
    }
    p{
        padding: 0px 30px 30px 30px;
        font-family: $fuente-principal;
        font-weight: $peso-textos;
        font-size: $size-texto-desktop;
        text-align: justify;
    }
}

.seccion-tendederos{
    background-color: $background-principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding: 20px 20px 50px 20px;
}

.card-tendedero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img{
        width: 180px;
        padding: 10px;
        border-radius: 50%;
    }
    p{
        font-family: $fuente-principal;
        color: $color-principal;
        font-weight: $peso-textos;
        font-size: $size-texto-desktop;
        text-align: center;
    }
}