.contenido-historia{
    background-color: $background-principal;
    h1{
        padding: 30px;
        font-family: $fuente-principal;
        font-weight: $peso-titulos;
        font-size: $size-titulo-desktop;
    }
    h2{
        @extend h1
    }
    h3{
        @extend h1
    }
    p{
        padding: 0px 30px 30px 30px;
        font-family: $fuente-principal;
        font-weight: $peso-textos;
        font-size: $size-texto-desktop;
        text-align: justify;
    }
    img{
        
        padding: 30px;
        width: 90%;
    }
}

