.contenido-inicio{
    background-color: $background-principal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    h1{
        padding: 30px;
        @include title;
        font-size: $size-titulo-desktop;
    }
    p{
        padding: 0px 30px 30px 30px;
        @include texto;
        font-size: $size-texto-desktop;
        text-align: justify;
    }
}

.video-inicio{
    position: relative;
    align-self: center;
    width: 700px;
    height: 455px;
    padding: 0px 30px 30px 30px;
}

// width: 560px;
// height: 315px;