.introduccion-tendederos{
    background-color: $background-principal;
    h1{
        padding: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }
    p{
        padding: 0px 30px 30px 30px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        font-size: 18px;
        text-align: justify;
    }
}

.seccion-tendederos{
    background-color: rgb(251, 215, 221);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 20px 20px 50px 20px;
}

.card-tendedero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-tendedero img{
    width: 150px;
    padding: 10px;
    border-radius: 50%;
}

.card-tendedero p{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(226, 27, 156);
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}