.contenido-historia{
    background-color: $background-principal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
}

.textos-historia{
    h1{
        padding: 30px;
        @include title;
        font-size: $size-titulo-desktop;
    }
    h2{
        @extend h1
    }
    p{
        padding: 0px 30px 30px 30px;
        @include texto;
        font-size: $size-texto-desktop;
        text-align: justify;
    }
}

.carousel{
    display: flex;
    align-self: center;
    max-width: 600px;
    height: 450px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    img{
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
    }
}

.imagen-actualidad{
    display: flex;
    justify-content: center;
    padding: 0px 30px 30px 30px;
}