.contenido-inicio{
    background-color: $background-principal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    h1{
        padding: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }
    p{
        padding: 0px 30px 30px 30px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        font-size: 18px;
        text-align: justify;
    }
}

.video-inicio{
    position: relative;
    align-self: center;
    max-width: 100%;
    padding: 0px 30px 30px 30px;
}