@media (max-width: 768px){
    .navbar{
        li{
            padding: 10px 40px 10px 40px;
            a{
            font-size: 16px;
            }
            a:hover{
            font-size: 18px;
            }
        }
    }
    
    .redes-sociales{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        left: 64%;
        img{
            width: 50px;
        }
    }
    .seccion-tendederos{
        gap: 20px;
    }
    .card-tendedero{
        img{
            width: 160px;
        }
    }
    .contenido-footer{
        font-size: 12px;
    }
}
