@media (max-width: 320px){
    
    .redes-sociales{
        img{
            width: 25px;
        }
    }
    
    .carousel{
        max-width: 250px;
        height: 175px;
    }
    .imagen-actualidad{
        img{
            max-width: 250px;
        }
        padding: 0px 30px 30px 30px;
    }
    
    .introduccion-tendederos{
        h1{
            padding: 20px 50px;
        }
    }

    .contenido-contacto{
        height: 550px;
    }
}