@media (max-width: 1024px){
    .nav-wraper{
        nav{
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                li {
                    padding: 10px 50px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-family: $fuente-principal;
                        font-weight: $peso-textos;
                        font-size: 20px;
                    }
                    a:hover{
                        font-size: 24px;
                    }
                }
            }
            #toggle, label{
                display: none;
            }
        }
    }

    .redes-sociales{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        left: 67%;
        img{
            width: 65px;
        }
    }


    .seccion-tendederos{
        gap: 20px;
    }
    .card-tendedero{
        img{
            width: 160px;
        }
    }
    .contenido-footer{
        font-size: 12px;
    }
} 